@font-face {
    font-family: 'Titillium Web';
    src: url('../../assets/fonts/TitilliumWeb-Regular.ttf') format('trueType');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro 3';
    src: url('../../assets/fonts/SourceSans3-Light.ttf') format('trueType');
    font-weight: normal;
    font-style: normal;
}