<nav class="navbar">
    <a routerLink="/" class="navbar__logo">conduit</a>
    <ul class="navbar__navlinks">
        <li class="navbar__navlink">
            <a routerLink="/" routerLinkActive="navbar__navlink--active">Home</a>
        </li>
        <li class="navbar__navlink">
            <a routerLink="/login" routerLinkActive="navbar__navlink--active">Sign in</a>
        </li>
        <li class="navbar__navlink">
            <a routerLink="/register" routerLinkActive="navbar__navlink--active">Sign up</a>
        </li>
    </ul>
</nav>