<main>
  <section class="banner">
    <h2 class="banner__title">conduit</h2>
    <p class="banner__desc">A place to share knowledge</p>
  </section>
  <section class="content">
    <div class="content__feed">
      <app-feeds [(tag)]="selectedTag" />
      <div>
        @if (articlesQuery.isPending()) { @for (loaders of [1, 2, 3];
        track $index) {
        <app-article-loader />
        } } @else if (articlesQuery.isError()) {
        <p>Error loading articles. Please try again</p>
        } @else { @for (article of articlesQuery.data()?.articles; track
        article.slug) {
        <app-article [article]="article" />
        } }
        <!-- @for (article of articles; track article) {
        <app-article [article]="article" />
        } -->
      </div>
      <article class="pagination">
        @for (page of totalPages(); track page) {
          <button (click)="currentPage.set(page)" [class]="{
            'pagination__page-button': true,
            'pagination__page-button--active': page === currentPage()
          }">{{page}}</button>
        }
      </article>
    </div>
    <div class="tags-container">
      <h4 class="tags-container__title">Popular Tags</h4>
      <ul class="tags-container__tags">
        @if (tagsQuery.isPending()) { @for (pillLoader of [1, 2, 3, 4, 5]; track
        $index) {
        <ngx-skeleton-loader
          [theme]="{
            width: '40px',
            height: '22px',
            'margin-bottom': 0,
            'margin-left': '.3rem',
            'border-radius': '2rem',
            'background-color': '#818a91',
          }"
        />
        } 
      } 
      @else if (tagsQuery.isError()) {
        <p>Error loading popular tags</p>
      }
      @for (tag of tagsQuery.data()?.tags; track tag) {
        <li>
          <a (click)="getFeedForTag(tag)" [class]="{
            'tags-container__tag-pill': true,
            'tags-container__tag-pill--active': selectedTag() === tag
          }">{{
            tag
          }}</a>
        </li>
        }
      <!-- @for (tag of tags; track tag) {
        <li>
          <a (click)="getFeedForTag(tag)" class="tags-container__tag-pill">{{
            tag
          }}</a>
        </li>
        } -->
      </ul>
    </div>
  </section>  
</main>
